

<ion-header>
  <ion-toolbar color="indigold" >
    <ion-buttons slot="primary">
      <ion-button (click)="goHome()">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-button> 
    </ion-buttons>

    <ion-title class="ion-text-left">About: Changes Made </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<p>I thought I would use this page to share what changes I've made - just so you know...  (I'll remove this before 'shipping')</p>

<ul>
  <li>Dec 5: I've switched to Windress Social Tarot - an app to share and discuss readings with others</li>
  <li>Sept 7: Added password reset feature - for those who might forget..</li>
  <li>Sept 7: Adding a landing page - which directs users who aren't yet 'members' to register</li>
  <li>Sept 5: Reworked pyramid throw layout on small screens to be more readable - following Jerry's suggestion</li>
  <li>Sept 2: Added Search for card to diary.  User selects one card, and all readings which have that card are shown</li>
  <li>Aug 31: Added Search text to diary.  Search looks for keyword in both subject and comments</li>
  <li>Aug 29: Added counts to the diary navigation menu on the left side.  Should be clear now how many readings there are</li>
  <li>Aug 28: Fixed a few bugs - mostly around the left menu in the diary - highlights better now, remove from folder better, etc.</li>
  <li>Aug 25: Finished 9-ray readings.  Diary has a folder for each ray.  I've done first pass saving ray readings as PDF.  I think Rays are ok</li>

  <li>Aug 18: Finished work with subject - added counts to folders</li>
  <li>Aug 16: Added a subject to the saved reading - this will make diary easier to browse.  Will update PDF document with this.</li>
  <li>Aug 16: Added a button to show 'Welcome/Introduction' text - hope to get better text from David et.al. someday</li>
  <li>Aug 15: Finished first draft of folders in the diary.  I know it's still rough - but you can now
    create named folders for readings, store readings in named folders, even delete the folder.  More polish will come!
  </li>
  <li>Aug 9: I changed the animation on home page so it acts like a screen saver.  It only runs when user is inactive.</li>
  <li>Aug 8: While working on add-rename-delete folders for diary, I stumbled on a different tiny menu - 
    may try to add that to the rest of the diary</li>
  <li>Aug 7: finally made progress on the folder feature in the diary.  User can add and remove readings from folders and the screen
    will correctly update.  Of course much more to do before I release folders into the wild - like create/rename/delete folders
  </li>
  <li>Aug 1: Fixed strange problems with text color by forcing all text to be white and all background to be dark.  
    I'm sure I'll adjust this better after input from Frankie or someone.  
    I also fixed a bug in diary where duplicate entries could happen.</li>
  <li>July 28: Created this about page</li>
  <li>July 27: Reworked PDF code in Diary - added footers and headers</li>
  <li>July 26: Added menu area to the left of diary - can filter what is shown in the diary by clicking on one of the menu items</li>
  <li>July 2x: I spend time trying the app on different screen sizes - from tiny phones to larger computer monitors - 
      there are certainly many issues - let me know when anything doesn't work on your device.  
      For example, the left menu on the diary doesn't work on a phone - so I made a smaller diary just for tiny devices - 
      Sadly, this means some features in the diary won't be available for phones - no folders, filters, etc </li>
  <li>July 24: Added drop down menu to diary - big icon with drop down menu that appeas when you click</li>
  <li>July 21: Added animation to main screen - I have gotten mixed reviews about this - let me know...</li>
  <li>July 20: Added 'delete' command to diary - I need to make the confirmation dialog more attractive - I know...</li>
  <li>July 12?: Added 'Keep Open' command to diary - this allows you to compare several readings side by side</li>
  <li>July 8: Added the candle and 'think of the question' popup before reading - I know this still needs work</li>
  <li>July 9: Changed text color to gold on indigo blue - got a lot of negative feedback - moving on to other things for now...</li>

</ul>
</ion-content>

