<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title >Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="onProfile()" class="MenuItem">
            Profile
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="onFriends()" class="MenuItem">
            Friends
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle >
          <ion-item (click)="onDiary()" class="MenuItem">
            Diary
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="onTarotThrow()" class="MenuItem">
            Tarot Throw 
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="logInOut()" class="MenuItem">
            Log In/Out
          </ion-item>
        </ion-menu-toggle>
    
    </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>