.flameImg {
    // width:  360px;    //240px; 
    // height: 360px;
    // margin: 60px;
    // justify-content: center;
    // display: block;
    width: 200px;// 400px; 
    height: 300px;    //600px;
    display: flex;
    justify-content: center;
    display: block;
    margin: auto;
  }