<ion-header >

  <ion-toolbar color="indigold" >
    <ion-buttons slot="indigold">
      <!-- <ion-button (click)="close()">
        close
        <ion-icon name="close-outline"></ion-icon>
      </ion-button> -->
      
    </ion-buttons>
    <ion-title class="ion-text-center" size="small">Think of Your Question...</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-button expand="full" (click)=Deal()  color="azurine" size="small">Select Cards</ion-button>
  <!-- <div> -->
    <img src={{blueFlameGif}} alt="description" class="flameImg" (click)=Deal()/>
  <!-- </div> -->
 
</ion-content> 